body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;

}

#label {
    width: 100%;
    height: auto;
}

#gambarku {
    max-width: 300px;
    margin: 80px auto;
    background-color: goldenrod;
    border: 1px solid gray;
    border-radius: 5px;
}

#header {
    width: 100%;
    height: 50px;
    background-color: orange;
    position: absolute;
    bottom: 0;
    line-height: 50px;
    text-align: center;
    color: black;
}

#footer {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: orange;
    text-align: center;
}