#label {
    width: 100%;
    height: auto;
}

#gambarku {
    max-width: 300px;
    background-color: goldenrod;
    border: 1px solid gray;
    border-radius: 5px;
}

#footer {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: blanchedalmond;
    text-align: center;
}